@import '@/styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align-last: left;
  margin: 0 auto;
}

.title_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: rgba(244, 240, 248, 1);
  padding-bottom: 80px;
  padding-top: 80px;

  @include respond-to(mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.titlef {
  color: rgba(35, 37, 54, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  max-width: 814px;
  margin: 0;

  @include respond-to(mobile) {
    font-size: 40px;
  }
}

.textf {
  padding: 0;
  max-width: 768px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(109, 110, 118, 0.797);

  @include respond-to(mobile) {
    font-size: 14px;
  }
}

.title {
  color: rgba(35, 37, 54, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  max-width: 814px;

  @include respond-to(mobile) {
    font-size: 38px;
  }
}

.text {
  max-width: 768px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(109, 110, 118, 0.797);
  margin-bottom: 64px;
}

.main_wrap {
  margin-top: 128px;
  margin-bottom: 128px;

  @include respond-to(mobile) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
