@import '@/styles/mixins.scss';

.container {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 128px;

  opacity: 0;
  transition: opacity 2s ease-in-out;

  &.fadeIn {
    opacity: 1;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;

  @include respond-to(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }

  @include respond-to(mobile) {
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }

  &.fadeInUp {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 2s ease forwards;

    @keyframes fadeInUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 48px;
}
