.container {
  margin: 450px 80px 128px 80px;
}

.wrapper {
  position: relative;
}

.about_head {
  position: absolute;
  top: -380px;
  left: 109px;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 32px;
}

.head_card {
  background: rgba(255, 255, 255, 1);
  padding: 64px;
}

.sub_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
}

.card_title {
  max-width: 496px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}

.text {
  max-width: 477px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(109, 110, 118, 0.661);
  margin-top: 0px;
  margin-bottom: 24px;
}

.poster_wrap {
  position: relative;
}

.poster {
}

.info_in_poster_wrap {
  position: absolute;
  bottom: 4px;
  left: 109px;
  right: 0;
}

.text_in_poster {
  max-width: 630px;
  background: rgba(255, 208, 80, 1);
  padding-left: 48px;
  display: flex;
  gap: 68px;
}

.statNumber {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.statLabel {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.stripe {
  width: 861px;
  height: 23px;
  background: linear-gradient(to left, #ffd700 70%, #6a0dad 70%);
}

.text_under_poster {
  background: rgba(244, 240, 248, 1);
  padding: 108px 108px 64px 108px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
  margin-top: -3px;
}

.left_side {
  // ваши стили для левой стороны
}

.right_side {
  // ваши стили для правой стороны
}

.text_under_post_title {
  max-width: 481px;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  text-align: left;
}
