.container {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 228px;
}

.image_wrap {
  position: absolute;
}

.content {
  position: relative;
  top: 121px;
  left: 574px;
  width: 706px;
  background: rgba(255, 255, 255, 1);
  padding: 80px;
  padding-right: 0;
}
.sub_title {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  margin-bottom: 24px;
}

.title {
  max-width: 546px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-bottom: 16px;
}

.text {
  max-width: 546px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(109, 110, 118, 0.661);
  margin-bottom: 32px;
}
